@model IEnumerable<Getri_ViewModels.ViewModel.StudentDetailViewModel>

<html>
    <head>
        <title>Student Details</title>
    </head>
    <body>        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Student Id</th>
                    <th>Name</th>                
                    <th>Branch</th>
                    <th>Section</th>
                    <th>Gender</th>
                    <th>Country</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Pincode</th>
                </tr>
            </thead>
            @foreach(var item in Model)
            {
                <tr>                    
                    <td>@item.Student.StudentId</td>
                    <td>@item.Student.Name</td>                    
                    <td>@item.Student.Branch</td>
                    <td>@item.Student.Section</td>
                    <td>@item.Student.Gender</td>
                    <td>@item.Address.Country</td>
                    <td>@item.Address.State</td>
                    <td>@item.Address.City</td>
                    <td>@item.Address.Pincode</td>
                </tr>
            }            
        </table>
    </body>
</html>